a:any-link:hover{
    color: grey;
}
a:any-link{
    color: whitesmoke;
}
#responsive-navbar-nav{
    padding-left: 8%;
}
#collasible-nav-dropdown{
    padding-left: 80px;
}
#cat{
    padding-left: 80px;
}
#logo{
    padding-left: 28.5px;
}

/* @media (min-width: 993px) {
    .dropdown .dropdown-menu.show{
        display: none !important;
    }
    .dropdown:hover .dropdown-menu{
        display: block !important;
    }
    .dropdown:focus .dropdown-menu{
        display: block !important;
    }
} */
@media(min-width:900px){
#collasible-nav-dropdown:hover .drop{
    display: block;
}
}
@media(max-width: 600px){
    #mcat{
        padding-left: 80px;
    }
}
